#settingsModal.modal.fade(role="dialog", tabindex="-1", aria-labelledby="gridModalLabel", style="display: none;")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
        h4#gridModalLabel.modal-title 
          span.glyphicon.glyphicon-cog
          span   Settings
      .modal-body
        h3 End Course
        button#endCourse.btn.btn-danger(data-toggle="confirmation") Ending the course & delete userdata
        
        h3 Moodle Description
        p All your files, formated as HTML. Copy it to the moodle description (turn HTML edit on before)
        button#copyHtml.btn.btn-info(data-clipboard-target="#htmlCode") Copy HTML Code
        pre#htmlCode

      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
